.Header{
    padding: 15px 0;
    background:transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: 1s;
    margin-bottom: 140px;
     .box{
        display: none;
     }
        &__logo{
            border-radius: 10pc;
            width: 120px;
        }
        &__burger{
            transform: rotate(180deg);
            font-size: 25px;
            color: rgba(0, 115, 255, 0.349);
        }
        .col{
            position: fixed;
            width: 100%;
            height: 50vh;
            left: 0;
            background-color: #fffcfc;
            display: none;
            transition: 1s;
             
        }
        
        .bult{
            display: block;
            top: 0;
            transition: 1s;
            transform: translateY(0px);
            
        }
        .card__burger{
            color: white;
        }
        &__bur{
            display: none;  
        }
    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
   
        
        &__logo{
            border-radius: 10pc;
            width: 120px;
        }
        
        &__list{
            display: flex;
            align-items: center;
            gap: 50px;
        }
        
        &__item{
            &__link{
                color: #62CDFF;
                font-size: 15px;
                transition: .8s;
                padding: 3px 10px;
                border-radius: 5px;
            }
            
            .active{
                background-color: #62CDFF;
                color: #fff;

                
                
            }
        }
         &__list2{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        &__item2{
            &__btn{
                 transition: 0.6s;
                 display: block;
                 width: 40px;
                 height: 40px;
                &:hover{
                    transform: translateX(-10px) ;
                    
                }
            }
          
        }   
    }
}

@media screen and (max-width: 768px){
    .Header{
        .box{
            display: block;
        }
        .card{
            &__list{
                display: none;
            }
             &__list2{
                display: none;
            }  
            
            .card__list3{
                    display: flex;
                    width: 40%;
                    margin: 0 auto;
                    margin-top: 40px;
                    gap: 60px;
            }
            .card__lis4{
                    width: 40%;
                    margin: 0 auto;
                    margin-top: 40px;
                    gap: 60px;
            }
            
            &__bur{
                display: block;
            }
        }
    }
}